

@section styles{
    <link rel="stylesheet" href="~/dashboard/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" />
}


<div class="card">


    <div class="card-body">
        <div class="card-title d-flex justify-content-between">
            <h4>Cateogries</h4>
            <button id="createInstructor" class="btn btn-primary mt2">Create new Category</button>
        </div>
        <div class="table-responsive">
            <table id="categoryTable" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Arabic Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="modal fade" id="categoryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="model-content">

    </div>
</div>


@section scripts{
    <script src="~/dashboard/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="~/dashboard/custom/alpha-data-table.js"></script>
    <script src="~/dashboard/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/dashboard/jquery-validation/jquery.validate.js"></script>
    <script src="~/dashboard/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/dashboard/sweet-alert/sweetalert.min.js"></script>
    <script src="~/dashboard/bootbox/bootbox.js"></script>
    <script>
        var tableContent = tablePlugin("#categoryTable", "/Admin/Categories/GetCateogry", [
            { data: "name" },
            {data:"arabicName"},
            {
                data: "id", render: function (result) {
                    return `
                                                <button class="btn btn-primary btn-edit" data-id="${result}"> Edit </button>
                                                <button class="btn btn-danger btn-delete" data-id="${result}">Delete </button>
                                            `
                }
            }
      ]);
        console.log(tableContent);
        $("#createInstructor").on("click", function () {
            $.ajax({
                url: "/Admin/Categories/Create",
                method: "GET",
                success: function (result) {
                    $("#model-content").html(result);
                    $("#categoryModel").modal("show");
                    var form = $("#InstructorForm");
                    form.removeData('validator');
                    form.removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse(form);


                }
            });

        });
        $(document).on("click", ".btn-edit", function () {
            let currentID = $(this).attr("data-id");
            $.ajax({
                url: "/Admin/Categories/Edit",
                method:"GET",
                data: {
                    id:currentID
                },
                success: function (result) {
                    $("#model-content").html(result);
                    $("#categoryModel").modal("show");
                    var form = $("#InstructorForm");
                    form.removeData('validator');
                    form.removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse(form);

                }
            });
        });
        $(document).on("click", ".btn-delete", function () {

            let currentID = $(this).attr("data-id");
            bootbox.confirm("Are you sure to delete this Instructor", function (alertData) {
                if (alertData) {
                    $.ajax({
                        url: "/Admin/Categories/Delete",
                        method: "POST",
                        data: {
                            id: currentID
                        },
                        success: function (result) {
                            InstructorDeleted();

                        }
                    });
                }
            });

        });

        function categoryAdded(data) {

            $("#categoryModel").modal("hide");
            swal("successful added Category", "", "success");
            tableContent.ajax.reload();



        }
        function InstructorEdited(data) {
            $("#categoryModel").modal("hide");
            swal("successful edit Instructor", "", "success");
            tableContent.ajax.reload();
        }
        function InstructorDeleted() {

            swal("successful delete Instructor", "", "success");
            tableContent.ajax.reload();


        }



    </script>

}