<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="../../../../assets/1.png" width="100" alt="">
    </mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a    href="#">Link 3</a> -->
      <a mat-list-item *ngFor="let item of categories" [routerLink]="[item.id]" > {{item.name}} </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="display: flex; justify-content: space-around;" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    <div>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>


    </div>

     <div style="display: flex; justify-content: space-between; width: 95%;" >

       <div style="flex:1">
      <img src="../../../../assets/1.png" width="100" alt="">
    </div>

    <div class="d-flex desktop-search" style="flex: 1.5;" >
      <input type="text" class="form-control" placeholder="Search"/>
      <div class="custom-select">
      <select>
        <option value="0">Produtct Name</option>
        <option value="1">Category</option>
        <option value="2">Company</option>
      </select>
      <button>S</button>
    </div>
    </div>

    <div class="mt-2 cart-holder"  style="flex:1;text-align: right;">
      <a routerLink="cart"> <mat-icon [matBadge]="this.cart.cartCount()" matBadgeColor="warn">shopping_cart</mat-icon></a>


    </div>
  </div>

    </mat-toolbar>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
