.d-cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;

}
.d-cart-item div{
  flex: 1;

}
.total-price-format{
  font-size: 20px;
  font-weight: 800;
  padding: 15px;
}

