
<ng-container *ngIf="simpleInfo != null">
  <div class="card mb-4">
      <div class="image-wraper">
      <img [src]="simpleInfo.image" class="card-img-top" >
      <ul class="list-inline member-icons animate text-center">
          <li class="list-item-inline"> <button (click)="clickDetails()" class="btn btn-primary"><i class="fa fa-cart-plus" aria-hidden="true"></i> </button></li>

      </ul>
  </div>
      <div class="card-body">
       <h6 class="card-title text-center mb-1">
          {{simpleInfo.name}}
       </h6>
        </div>
       <p class="card-text text-muted text-center" > {{simpleInfo.price}} LE</p>
  </div>
</ng-container>
