 <div class="container-login">
  <div class="card-center">
    <mat-card>
      <h2 class="text-center"> Register</h2>
      <form [formGroup]="form" (ngSubmit)="register()">


        <mat-form-field class="form-control-element">
          <mat-label>User Name</mat-label>
          <input formControlName="userName"  matInput type="text">
        </mat-form-field>


        <mat-form-field class="form-control-element">
          <mat-label>Email</mat-label>
          <input formControlName="email"  matInput type="text">
        </mat-form-field>
        <mat-form-field class="form-control-element">
          <mat-label>Phone Number</mat-label>
          <input formControlName="phone"  matInput type="text">
        </mat-form-field>

        <mat-form-field class="form-control-element">
          <mat-label>Address</mat-label>
          <input formControlName="address" matInput type="text">
        </mat-form-field>

        <mat-form-field  class="form-control-element">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password">
        </mat-form-field>
      <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Register</button>

    </form>
    </mat-card>
  </div>
</div>
